body{
  font-family: Poppins, sans-serif;
  background-image: url('concrete_seamless.png'), linear-gradient(#f1f1f1, #f1f1f1);
}

p {
  font-size: 15px;
}

/* Navigation style */
.nav_links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_links a {
  color: #288088;
  text-decoration: none;
}

/* Navigation hover to have the underline style */
.nav_links a:hover,
.nav_links a:focus {
  text-decoration: underline;
}

.nav_links a:visited {
  color: #50C7C7;
}

/* Pricing all content centered */
.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Cards have radius */
.card {
  margin: 12px auto;
  background: #fff;
  width: 450px;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  flex-direction: column;
}

.card > ul li {
  font-size: 20px;
  width: 90%;
}

.card > header {
  background: #288088;
  border: 2px solid #45ADAD;
  border-radius: 50px 50px 0 0;
}

.card h4{
  font-size: 18px;
  text-align: center;
}

/* Gallery photos centered */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 300px;
  margin: 10px;
  border: 10px solid #50C7C7;
  border-radius: 7px;
}

/* Animation, a width of 25px to 475px, opacity of 0 to 1, and last for 5 seconds. */
@keyframes logoanimation {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
  animation: logoanimation 5s ease-out;
}

@media (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Change links style */
  .nav_links {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .pricing {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Change cards style */
  .card {
    width: 275px;
    display: flex;
    flex-direction: column;
    margin: 1px;
    background: #fff;
    border-radius: 50px 50px 7px 7px;
    position: relative;
  }

  .card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    width: 100%;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
    color: white;
  }

  .card h4{
    font-size: 18px;
    text-align: center;
  }

  .card ul {
    list-style: none;
    padding: 0;
    text-align: start;
  }

  .card ul li {
    width: 80%;
    margin: 10px auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  .logo {
    animation: none;
  }
}

@media print {
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: none;
  }
    
  nav, .nav_links {
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .pricing {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
  
  .card {
    border: 2px solid #45addd;
    flex-basis: 325px;
  }
  
  .gallery {
    display: none;
  }
  
  .card ul li:nth-child(2)::after {
    content: " 👍";
  }
}